<html>
<head>
<title>HyperwalletHackathon</title>
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token"
    content="2cbRCkHYcNKKvk8vMQBHaEs4SXC/9kSkcAtyLY1ZJhE656SCnEDnWzfjKzxI7WOt1FI+XxC9f9wLrZdMwyByNQ==" />
<link rel="stylesheet" media="all"
    href="bootstrap.css"
    data-turbolinks-track="reload" />
<script
    src="jquery.js"
    data-turbolinks-track="reload"></script>
<script
    src="jqueryujs.js"
    data-turbolinks-track="reload"></script>
<script
    src="turbolinks.js"
    data-turbolinks-track="reload"></script>
<script
    src="file4.js"
    data-turbolinks-track="reload"></script>
</head>
<body>


<div class="jumbotron" style="background-color: #F9F9F9 ">
    <div class="container">

        <center></style>
        <h1>Make A Donation!</h1>
        <center></style>

        <select>
         <option value="10"> $10 Donate!</option>
         <option value="25"> $25 Donate!</option>
         <option value="50"> $50 Donate!</option>
         <option value="1000000"> $ 1,000,000 Donate!</option>
         <br>
         

        <input type="Submit"></input>
    </div>
</div>    

</body>
</html>